version: "3.8"

services:
  dhcp:
    build: ./DockerAP
    container_name: dhcp_container
    privileged: True
    tty: True
    volumes:
      - ./DockerAP/:/etc/dnsmasq.d/
    
  main:
    build: ./DockerClient
    container_name: main_container
    privileged: True
    tty: True

  
  ping:
    build: ./DockerClient
    container_name: ping_container
    privileged: True
    tty: True


  st:
    build: ./DockerClient
    container_name: st_container
    privileged: True
    tty: True
